{% extends 'base.html' %}

{% block content %}

    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Django App</h1>
            <p class="mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis culpa officia, nam cumque, facilis quam minima a assumenda corrupti repellendus quibusdam iusto similique cupiditate illo vero aliquid animi sed dolorum.
            Libero nulla recusandae voluptatibus suscipit deserunt iste, earum a facilis minima consequuntur, doloribus nemo natus ratione sapiente! Necessitatibus odio, eligendi quidem nemo adipisci qui mollitia, ab explicabo animi totam molestiae!
            Nesciunt vero aliquam omnis itaque debitis, in iusto error dicta suscipit saepe illo natus corrupti dolores earum voluptatibus? Sint nesciunt totam, iure velit et officia reprehenderit temporibus deserunt consequatur illum.
            Nisi perspiciatis, sint, iure, nulla quasi molestiae atque necessitatibus sequi rerum numquam natus dolor doloribus ipsum totam unde aliquid expedita nihil. Dignissimos repellat perspiciatis odio qui impedit nihil quis quas.
            Veritatis porro optio natus hic accusamus autem nemo non, ipsa commodi eos modi harum adipisci atque, libero sapiente, dicta minus delectus? Excepturi magnam accusantium qui cumque eius voluptas sunt deleniti?
            Dolorum aperiam, ex impedit eum minima voluptatibus temporibus amet, saepe maiores nisi et rem totam at dolore iste quae voluptas sequi harum nihil ducimus repellendus nostrum, nam minus explicabo! Quis!</p>

            <div class="text-center">
                <a class="btn btn-primary" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-info" href="/signup/">
                    Signup
                </a>
            </div>
        </section>
    </main>

{% endblock %}
